body {
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: small;
    background: #b5b5b5;
}
form, header, ul, li {
    margin:0;
    padding:0;
    border:0;
    outline:none;
    font-size:100%;
}

input {height: 1.6em;}
input[name="q"] {padding-right: 1.8em;}
input[type="image"] {
    left: -1.8em;
    position: relative;
    vertical-align: middle;
    border: none;
    width: 1.2em;
    height: 1.2em;
}

nav ul {
    list-style:none;
}

main {
    margin: 0;
    padding: 30px;
}
.forums {
    line-height: 1.5em;
    background: #919191;
}
table {
    width: 99%;
    position: relative;
    top: -4px;
    left: -4px;
    border: 1px solid #000;
    background: #fff;
}
table th, table td {
    margin: 0;
    padding: 8px 20px;
    text-align: center;
    border-bottom: 1px solid #b5b5b5;
}
table th {
    color: #999;
}
table .name {
    text-align: left;
}
table tr {
    background: #e6e6e6;
}
table tr.alt {
    background: #f1f1f1;
}
table td a {
    display: block;
    font-weight: bold;
}